:root{
    --primary-color: #8E0E42;
    --secondary-color: #CDCDCD;
    --third-color: #D7C7A4;
}
.nav-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #FFFF 100%);
    z-index: 1;
}
.logo img{
    width: 200px;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    padding: 20px 40px;
}
.pages a{
    text-decoration: none;
    padding-right:20px ;
    font-weight: 500;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.link {
    color: var(--primary-color);
}
.active {
    color: var(--third-color);
}
.pages a:hover{
    color: var(--third-color);
}
.side-menu-bar{
    display: none;
    cursor: pointer;
}