
/* animation scrolling from top to bottom */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .3s ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}