main{
    min-height: 90vh;
    padding-top: 40px;
    position: relative;
}
main .container{
    flex-direction: column;
    gap: 10px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}
.search-bar.remove{
    display: none;
}
.search-bar input{
    width: 70%;
    padding-right: 25px;
    font-size: 20px;
    box-shadow: 0 5px 10px #888;
    background-color: #ddd;
}
.search-bar > i.fa-magnifying-glass{
    position: relative;
    color: #f7f7f7;
    background: rgb(2,0,36);
    background: linear-gradient(81.02deg,var(--primery-background-color) -23.47%, #2f387d 45.52%, #4f5ed2 114.8%);   
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;

}
.search-bar> i.fa-magnifying-glass:hover{
    background: rgb(15,18,40);
    background: linear-gradient(90deg, rgba(15,18,40,1) 0%, rgba(47,56,125,1) 100%, rgba(79,94,210,1) 100%);
    /* box-shadow: 0 0 10px var(--primery-background-color);  */
}
.search-bar > i.fa-magnifying-glass::after{
    content: "";
    position: absolute;
    inset: -1px; /* control the spread */
    transform: translate(0px, 0px); /* control the offsets */
    z-index: -1;
    filter: blur(5px); /* control the blur */
    border-radius: 20px;
    transition: .3s;
    background:linear-gradient(90deg, rgba(15,18,40,1) 0%, rgba(47,56,125,1) 100%, rgba(79,94,210,1) 100%);
    opacity:0;
    
}
.search-bar > i.fa-magnifying-glass:hover::after{
  opacity: 1;
}
.search-bar input:hover{
    background-color: #eee;
}
.search-bar input:focus{
    background-color: #fff;
    box-shadow: 0  5px 5px var(--primery-background-color);

}
/* Button Switch */
.searchStyleSection{
    width: 100%;
}
.searchStyleSection.remove{
    display: none;
}
.styleRsults{
    width: 100px;
    background-color: transparent;
}
.styleRsults button{
    border: none;
}
.styleRsults i{
    color: #2f387d;
    background-color: transparent;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}
.styleRsults button.active i{
    background-color: #2f387d;
    color: #fff;
}

/* Results */
.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
    width: 100%;
}


.results .box{
    display: flex;
    justify-content: start;
    align-items: center;
    width:20% ;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in;
    animation-name: revalBox;
    animation-fill-mode: forwards;
    animation-duration: .3s;

}
.results .box:hover{
    box-shadow: 0 5px 10px #888;
    background-color: #ddd;
}
.results .box img{
    height: 60%;
    width: 100%;
}
.results .box:hover img{
    opacity: 0.8;
}
.results .box .contentBox{
    padding: 10px;
}
.results .box .contentBox h2{
    font-size: 16px;
    color: #333;
}
.results .box .contentBox p{
    font-size: 8px;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
   
}
.results .box:hover p,
.results .box:hover h2{
    color: var(--primery-background-color);
}

/* Long Style */
.results.long{
    flex-direction: column;
    width: 100%;
}
.results.long .box{
    max-height: 100px;
    width: 100%;
    flex-direction: row;
    border-radius: 10px;
}
.results.long .box img{
    height: 100%;
    width: 20%;
    border-radius: 10px;
}

/* Card Style */
.results.cards{
    flex-direction: row;
}
.results.cards .box{
    flex-direction: column;
    text-align: center;
}



/* Full Page Styles  */
.results.fullPage {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    z-index: 10;
    overflow: hidden;
    
}
.results.fullPage .boxFullPage{
    /* background-color: red; */
    
    width: 40%;
    height: 100%;   
    min-height: 90vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: var(--primery-background-color);
    border-radius: 0;
    cursor: auto;

}
.results.fullPage .boxFullPage .contentBox{
    position: fixed;
    padding: 10px;
}
.results.fullPage .boxFullPage:hover{
    box-shadow: none;
    background-color: unset;
}
.results.fullPage .boxFullPage:hover img{
    opacity: 1; 
}
.results.fullPage .boxFullPage:hover h2{
    color: white;
}
.results.fullPage .boxFullPage:hover p{
    color: #f7f7f7;   
}
/* .results.fullPage .boxFullPage .contentBox{
    height: 100%;
    width: 100%;
} */
.results.fullPage .boxFullPage img{
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border-radius: 0;
    box-shadow: -10px 0 50px #000;

    /* filter: blur(2px); */
    
}
.results.fullPage .boxFullPage::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -9;
    opacity: 0.8;
    background: #333;

}
.results.fullPage .boxFullPage.noBranch img,
.results.fullPage .boxFullPage.noBranch::before{
    width: 100%;
}


.results.fullPage .boxFullPage h2{
    color: white;
    font-size:40px;
}
.results.fullPage .boxFullPage p{
    color: #f7f7f7  ;
    font-size: 20px;
    width: 100%;
    max-width: 90%;
    -webkit-line-clamp: 8;

}

.results.fullPage .boxFullPage .buttonPlayer{
    cursor: pointer;
}

.results.fullPage .boxFullPage .buttonPlayer button{
    background-color: transparent;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 0; 
    border: 2px solid var(--font-color);
    border-radius: 30px;
    margin-left: 10px;
    transition: .3s;
    overflow: hidden;
    cursor: pointer;
}
.results.fullPage .boxFullPage .buttonPlayer:hover button{
    scale: 1.1;
    box-shadow: 0 0 5px var(--font-color);
}

.results.fullPage .branches{
    counter-reset: box;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.results.fullPage .branches .box{
    position: relative;

}
.results.fullPage .branches .box::before{
    counter-increment: box;
    content: counter(box);
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: var(--primery-background-color);
    color: #aaa;
    height: 70%;
    width: 100%;
    text-align: right;
    margin: auto 20px;
    padding: 10px;
    padding-right: 70px;
    z-index: -1;
}
.results.fullPage .branches .box img{
    background-color: #ddd;
    padding: 2px;
    border-radius: 0;
    margin-left: 20px;
}

.results.fullPage .branches .box h2
{
    font-size: 20px;
    color: white;
}
.results.fullPage .branches .box p{
    color: #f7f7f7;

}
.results.fullPage .branches .box:hover{
    background-color:unset;
    box-shadow: none;
}
.results.fullPage .branches .box:hover::before{
    opacity: 0.9;
}
/* Directories */
.directories {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    z-index: 15;
    position: fixed;
    top: 100px;
    right: 35%;
    transform: translate(50%,50%);



}

.directories span{
    cursor:default;
}
.directories a
{
    cursor: pointer;
    color: var(--primery-background-color);
}
.directories.fp span,
.directories.fp a{
    color: #ccc;
    
}

.directories a:hover{
    text-decoration:underline;
    color:#f7f7f7;
}

/* Video Style */
.videoDiv{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

}
.videoDiv.show{
    display: block;
}
.videoDiv video{
    width: 100%;
    height: 100%;
}
.videoDiv .closeVideo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    /* height: 30px; */
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    border-right: 2px solid var(--secndery-background-color);
    border-bottom: 2px solid var(--secndery-background-color);
    background-color: transparent;
}

@media screen and (max-width:600px) {
    .results .box{
        width: 40%;
    }

    .results.fullPage .boxFullPage::before{
        width: 100%;
        height: 100vh;
    }
    .results.fullPage .boxFullPage img{
        width: 100%;
        height: 100vh;
    }
    .results.fullPage .branches{
        width: 90%;
        max-height: 100%;
        overflow:hidden;
    }
}

@keyframes revalBox{
    0%{
        padding-left: 20px;
    }100%{
        padding-left: 0px;
    }
}