*{
    margin: 0px;
    padding: 0;
    font-family: "Tajawal";
    color: #8E0E42;
}
body{
    background-color: #8E0E42;
    background-image: url("img/Asset 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    accent-color: #8E0E42;
    padding: 0px 0px 240px 0px;
    width: 100%;
}
nav{
    background-color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 200px
}
section{
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 20px;
}