*{
    margin: 0px;
    padding: 0;
    font-family: "Tajawal";
    color: #cdcdcd;
}
body{
    background-color: white;
    background-image: url("img/Asset 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    accent-color: #8E0E42;
}
body{
    background-color: white;
    background-image: url("img/Asset 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    accent-color: #8E0E42;
    height: 900px;
}
nav{
    background-color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}
nav img{
    width: 200px
}
section{
    width: 50%;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

section{
    position: relative;
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    margin-top: 176px;
    margin-bottom: 50px;
    padding: 50px 20px;

}

@media screen and (max-width: 1024px) {
    section{
        width: 36%;
    }
}