*{
    margin: 0px;
    padding: 0;
    font-family: "Tajawal";
}
body{
    background-color: #8E0E42;
    background-image: url("img/Asset 1.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    accent-color: #8E0E42;
}
nav{
    background-color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 200px
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: self-end;
}
.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
}
.ser{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30%;
    margin: 10px auto;
    padding: 50px 0px;
    border-radius: 30px;
}
.biger {

    /* The native appearance is hidden */
    appearance: none;
    -webkit-appearance: none;
  
    /* For a circular appearance we need a border-radius. */
    border-radius: 50%;
  
    /* The background will be the radio dot's color. */
    background: #FF572233;
  
    /* The border will be the spacing between the dot and the outer circle */
    border: 17px solid #FFF;
  
    /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
    box-shadow: 0 0px 0px 3px #8E0E42;
  }
  .big{
        /* The native appearance is hidden */
        appearance: none;
        -webkit-appearance: none;
      
        /* For a circular appearance we need a border-radius. */
        border-radius: 50%;
      
        /* The background will be the radio dot's color. */
        background: #FF572233;
      
        /* The border will be the spacing between the dot and the outer circle */
        border: 14px solid #FFF;
      
        /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
        box-shadow: 0 0px 0px 3px #8E0E42;
  }
  .midle{
            /* The native appearance is hidden */
            appearance: none;
            -webkit-appearance: none;
          
            /* For a circular appearance we need a border-radius. */
            border-radius: 50%;
          
            /* The background will be the radio dot's color. */
            background: #FF572233;
          
            /* The border will be the spacing between the dot and the outer circle */
            border: 11px solid #FFF;
          
            /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
            box-shadow: 0 0px 0px 3px #8E0E42;
  }
  .tow{
                /* The native appearance is hidden */
                appearance: none;
                -webkit-appearance: none;
              
                /* For a circular appearance we need a border-radius. */
                border-radius: 50%;
              
                /* The background will be the radio dot's color. */
                background: #FF572233;
              
                /* The border will be the spacing between the dot and the outer circle */
                border: 8px solid #FFF;
              
                /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                box-shadow: 0 0px 0px 3px #8E0E42;
  }
  .small{
                    /* The native appearance is hidden */
                    appearance: none;
                    -webkit-appearance: none;
                  
                    /* For a circular appearance we need a border-radius. */
                    border-radius: 50%;
                  
                    /* The background will be the radio dot's color. */
                    background: #FF572233;
                  
                    /* The border will be the spacing between the dot and the outer circle */
                    border: 5px solid #FFF;
                  
                    /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                    box-shadow: 0 0px 0px 3px #8E0E42;
  }
.small:checked{
                        /* The native appearance is hidden */
                        appearance: none;
                        -webkit-appearance: none;
                      
                        /* For a circular appearance we need a border-radius. */
                        border-radius: 50%;
                      
                        /* The background will be the radio dot's color. */
                        background: #FF572233;
                      
                        /* The border will be the spacing between the dot and the outer circle */
                        border: 5px solid #8E0E42;
                      
                        /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                        box-shadow: 0 0px 0px 3px #8E0E42;
}
.tow:checked{
                            /* The native appearance is hidden */
                            appearance: none;
                            -webkit-appearance: none;
                          
                            /* For a circular appearance we need a border-radius. */
                            border-radius: 50%;
                          
                            /* The background will be the radio dot's color. */
                            background: #FF572233;
                          
                            /* The border will be the spacing between the dot and the outer circle */
                            border: 8px solid #8E0E42;
                          
                            /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                            box-shadow: 0 0px 0px 3px #8E0E42;
}
.midle:checked{
                                /* The native appearance is hidden */
                                appearance: none;
                                -webkit-appearance: none;
                              
                                /* For a circular appearance we need a border-radius. */
                                border-radius: 50%;
                              
                                /* The background will be the radio dot's color. */
                                background: #FF572233;
                              
                                /* The border will be the spacing between the dot and the outer circle */
                                border: 11px solid #8E0E42;
                              
                                /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                                box-shadow: 0 0px 0px 3px #8E0E42;
}
.big:checked{
                                    /* The native appearance is hidden */
                                    appearance: none;
                                    -webkit-appearance: none;
                                  
                                    /* For a circular appearance we need a border-radius. */
                                    border-radius: 50%;
                                  
                                    /* The background will be the radio dot's color. */
                                    background: #FF572233;
                                  
                                    /* The border will be the spacing between the dot and the outer circle */
                                    border: 14px solid #8E0E42;
                                  
                                    /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                                    box-shadow: 0 0px 0px 3px #8E0E42;
}
.biger:checked{
    /* The native appearance is hidden */
    appearance: none;
    -webkit-appearance: none;
  
    /* For a circular appearance we need a border-radius. */
    border-radius: 50%;
  
    /* The background will be the radio dot's color. */
    background: #FF572233;
  
    /* The border will be the spacing between the dot and the outer circle */
    border: 17px solid #8E0E42;
  
    /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
    box-shadow: 0 0px 0px 3px #8E0E42;
}

.title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
input{
    margin-left: 30px;
}
.input{
    padding-right: 50px;
}
.one div , .two div , .three div , .fore div , .five span{
}
.one , .two , .three , .fore , .five{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ser{
    box-shadow: 15px 15px 20px 3px #570123;
}

button{
    height: 42px;
    width: 144px;
    border: 0;
    border-radius: 10px;
    background-color: #8E0E42;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid #8E0E42;
}
button:hover{
    color: #8E0E42;
    background-color: #fcfcfc;
    border: 1px solid #8E0E42;

}

@media screen and (max-width : 1024px) {
    .ser{
        width: 50%;
    }
}
@media screen and (max-width : 375px) {
    .ser{
        width: 100%;
    }
}
