.copyright{
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #F8F9FA;
    text-shadow: 2px 1px 10px #F8F9FA;
    margin: 20px 0px;
}