@media screen and (max-width: 500px) {
    /* nav */
    header{
        width: 100%;
    }
    nav{
        padding: 0;
    }
    nav a{
        font-size: 15px;
        margin: 0 15px;
    }
    .title h1{
        font-size: 40px;
    }
    .title h5{
        font-size: 15px;
    }
    /* nav done */
    /* section themes */
    #suggistons-themes{
        width: 100%;
        height: 100%;
    }
    
    .container{
        flex-direction: column;
        padding: 0;
    }
    .card-link{
        margin: 10px auto;
        transform: scale(85%);
    }
    .card-link:hover{
        transform: scale(95%);
    }
}