:root{
    --primary-color: #8E0E42;
    --secondary-color: #CDCDCD;
    --third-color: #D7C7A4;
}
@media screen and (max-width: 440px) {
    .main{
        width: 100%;
    }
    .title h1{
        font-size: 30px;
        max-width: 100%;
    }
    .pra p{
        max-width: 80%;
        margin: auto;
    }

}