:root{
    --primary-color: #8E0E42;
    --secondary-color: #CDCDCD;
    --third-color: #D7C7A4;
}
@media screen and (max-width: 440px) {
    /* nav bar */
    body{
        overflow-x: hidden;
    }
    .before-pages{
        margin-top: 20px;
    }
    .nav-phone .pages{
        font-size: 10px;
    }
    .side-menu-bar img{
        width: 40px;
    }
    .img img{
        width: 230px;
        right: -60px;
    }
    .header img{
        width: 300px;
    }
    .header-text h1{
        direction: ltr;
        right: -270px;
        font-size: 23px;
        width: 201px;
    }
    .card-container {
        width: 100px;
        height: 200px;
    }
    .title h1{
        top: 81px;
        font-size: 20px;
        left: 200px;
        right: 27px;
    }
    .title-long h1{
        top: 81px;
        font-size: 20px;
        left: 200px;
        right: -8px;
    }
    .dis-section{
        font-size: 15px;
        max-width: 80%;
    }
    .icons img{
        width: 100px;
    }
    .our-products-home .container{
        padding-left: 0;
        padding-right: 0;
    }
    .our-products-home .container .card-container{
        max-width: 100%;
        width: 110px;
        height: 150px;
    }
    .Delivery .container{
        padding-left: 0;
        padding-right: 0;
    }
    .our-products .container{
        padding-right: 0;
    }
    
}