html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #8E0E42;
    --secondary-color: #CDCDCD;
    --third-color: #D7C7A4;
    --font-color-grey: #595959;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', sans-serif;
    color: var(--primary-color);
}
body{
    background-color: #FFFFFF;
}
.none{
    height: 200px;
}
.main{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 537px;
}
.title h1{
    font-size: 40px;
}
.pra p{
    margin-top: 20px;
    font-size: 20px;
    color: var(--font-color-grey);
}
