:root{
    --primary-color: #8E0E42;
    --secondary-color: #CDCDCD;
    --third-color: #D7C7A4;
}
@media screen and (max-width: 440px) {
    /* nav bar */
    body{
        overflow-x: hidden;
    }
    .nav-phone{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .nav-phone .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .before-pages{
        margin-top: 20px;
    }
    .nav-phone .pages{
        font-size: 10px;
    }
    .side-menu-bar img{
        width: 40px;
    }
    .img img{
        width: 230px;
        left: -60px;
    }
    .header img{
        width: 300px;
    }
    .header-text h1{
        font-size: 23px;
        width: 104px;
        left: 70px;
    }
    .title h1{
        top: 81px;
        font-size: 20px;
        left: 51px;
    }
    .long-title h1{
        top: 80px;
        font-size: 20px;
        left: 54px;
    }
    .dis-section{
        font-size: 15px;
        max-width: 80%;
    }
    .icons img{
        width: 100px;
    }
    .our-products-home .container{
        padding-left: 0;
        padding-right: 0;
    }
    .our-products-home .container .card-container{
        max-width: 100%;
        width: 110px;
        height: 150px;
    }
    .Delivery .container{
        padding-left: 0;
        padding-right: 0;
    }
}