html{
    scroll-behavior: smooth;
}
/* main css file */
:root{
    --primery-background-color: #0F1228;
    --secndery-background-color: #FE6002;
    --section-background-color:#E8E8E8;
    --font-color: #EEEEEE !important;
    --title-font-size: 40px;
    --border-radius-cards : 20px;
    --padding-top-section: 60px;
    --border-radius-level: 15px;

}
*{
    /* main font Fmaily */
    font-family: "Changa", sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--section-background-color);
    overflow: hidden;
}

a{
    text-decoration: none !important;
}

button{
    border: 0;
}
.container_levels{
    margin-top: 20px;
    min-width: 100vh;
    margin-right: 30%;
    margin-left: auto;
}
.content_levels{
    position: relative;
    height: 6vh;
    margin-bottom: 27%;
    transition: .3s;
}
.content_levels.closed{
    margin-bottom: 5%;
}
.content_levels h1{
    font-size: 30px;
}
.level{
    background-color: var(--primery-background-color);
    width: 100%;
    padding: 6px 0px;
    border-radius: var(--border-radius-level);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-6px 8px 15px black);
    z-index: 20;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.title .closed{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0px;    
    margin-left: 3%;
    transition: 0.3s;
    transform: rotate(3.142rad);
}
.title .open{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0px;    
    margin-left: 3%;
    transform: rotate(0);
    transition: 0.3s;
}
.content_levels .subjects{
    position: absolute;
    background-color: var(--secndery-background-color);
    width: 100%;
    z-index: -20;
    top: 0;
    padding: 1.2rem 0rem;
    padding-top: 5.2rem;
    border-radius: var(--border-radius-cards);
    -webkit-box-shadow: 0 0 15px 1px #00000086 inset;
    -moz-box-shadow: 0 0 15px 1px #00000086 inset;
    box-shadow: 0 0 15px 1px #00000086 inset;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    /* height: 100%; */
    transition: 0.3s;
}
.content_levels.closed .subjects{
    height: 0%;
    padding: 0%;
}
.content_levels.closed .arrow{
    transform: rotate(180deg);
    
}
.box{
    background-color: var(--primery-background-color);
    width: 13%;
    border-radius: var(--border-radius-cards);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 12vh;
}
.box .code{
    font-weight: 700;
    font-size: 16px;
}
.box_bottom_content{
    margin-top: .8rem;
}
.box .subject_name, .box .time{
    font-size: 10px;
    padding-bottom: 0.5rem;
}
.closed_levels{
    margin-bottom: 5%;
    transition: 0.3s;
}
.opened_levels{
    margin-bottom: 23%;
    transition: 0.3s;
}
button:focus{
    border: 0 !important;
}
.center{
    overflow-y: auto;
}
.wrapping{
    flex-wrap: wrap;
    gap: 20px;
}
.hidden-box{
    height: 26vh;
    width: 100%;
}


/* some edit for test */
footer , .copyright{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer{
    height: 15vh;
}
.navSide-right{
    position: fixed;
    top: 76px;
    right: 0;
    z-index: 0;
}
.navSide-right{
    height: 80%;
}